NShade.Frontend

ipch
packages
_Resharper*
*.ipch
*.sdf
*.opensdf
*.user
*.suo
*.slo

*.lo

*.o

*.gch

*.pch

*.so
*.dll


ReadMe.txt
NShadeATL/NShadeATL_i.c
NShadeATL/NShadeATL_i.h
/Debug
/Release

/NShadeATL/Debug
/NShadeATL/Release

/NShadeCore/Debug
/NShadeCore/Release
/NShadeCore/x64

/NShadeTests/Debug
/NShadeTests/Release

/NShadeUI/Debug
/NShadeUI/Release

/NShadeUI/x64