Debug
Release
ipch
_Resharper*
*.ipch
*.sdf
*.opensdf
*.user
*.suo
# Compiled Object files

*.slo

*.lo

*.o

*.obj


# Precompiled Headers

*.gch

*.pch


# Compiled Dynamic libraries

*.so

*.dylib

*.dll


