NShade.Frontend

Debug
DebugPS
Release
ipch
packages
_Resharper*
*.ipch
*.sdf
*.opensdf
*.user
*.suo
*.slo

*.lo

*.o

*.gch

*.pch

*.so

*.dylib

*.dll



ReadMe.txt
NShadeATL/NShadeATL_i.c
NShadeATL/NShadeATL_i.h
